.leaderboard {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 30px;
  position: fixed;
  top: 30%;
  left: 5%;
  width: 90%;
  max-height: 70%;
  padding: 10px;
  color: #7d7e75;
  border-radius: 10px;
  border: 3px solid #cfd6ea;
  overflow: auto;
  /*   background-color: #b8c3e0; */

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.tableheader {
  height: 60px;
  background-color: #423629;
  color: #b0b2b8;
}
td {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: #cfd6ea;
}
td:hover {
  background-color: #423629;
  color: #b0b2b8;
}
