div {
  position: relative;
  left: 45%;
  bottom: 55%;
  position: fixed;
}
div input {
  width: 25em;
  height: 2em;
  border-radius: 10px 0 0 10px;
  background-color: #292852;
  color: #fffbdb;
}
